* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    background: #3939399e;
    color: #e6e6e6;
    line-height: 1.6;
}

/* ===== Navbar ===== */
.navbar {
    background: #161b22;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #c44400bf;
}

.nav .menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-item a {
    color: #e6e6e6;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background .3s ease, color .3s ease;
}

.menu-item a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #ff4d00;
}

main {
    text-align: center;
    background-color: black;
    background-size: 150px 100px;
    padding: 60px 20px 30px;
    box-shadow: 0 10px 20px rgba(255, 68, 0, 0.621);
}

main h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #ff4d00;
}

main p {
    color: #ff4400;
    font-size: 1.1rem;
    opacity: 0.9;
}

#obj {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 80px;
    padding: 30px 250px;
}

#obj>div {
    background: #000000cc;
    padding: 150px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 8px 20px #ff7300f0;
    transition: transform 0.3s ease, background 0.3s ease;
}


.footer-silver {
    background: #161b22;
    color: #aaa;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    border-top: 3px solid rgba(255, 72, 0, 0.693);
    margin-top: 40px;
}