body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1e0a0a, #271111);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(141, 119, 247, 0.973);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 40px rgba(115, 110, 255, 0.536);
    width: 350px;
    text-align: center;
    animation: fadeIn 0.6s ease-in-out;
}

.login-container h1 {
    margin-bottom: 10px;
    font-size: 28px;
    color: #0660fbfb;
}

.login-container p {
    margin-bottom: 25px;
    font-size: 14px;
    color: hsla(245, 100%, 2%, 0.615);
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #0105f1;
    color: #f9f7f7;
    font-size: 14px;
}

.login-container input::placeholder {
    background-color: #0105f1;
    text-align: center;
    color: #f8f8fba8;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background: #3d2cf9b1;
    color: #000000;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-container button:hover {
    background: #cf18002b;
    transform: translateY(-2px);
}

.login-container .extra-links {
    margin-top: 15px;
    font-size: 20px;
}

.login-container .extra-links a {
    color: #00000bb1;
    text-decoration: none;
    transition: 0.2s;
}

.login-container .extra-links a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}